body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7)  url('../images/pexels-photo-11495862 (1).jpg') no-repeat center center fixed;
    background-size: cover;
    background-blend-mode: darken;
}
   /* comment.css */

.comment-section {
    padding: 20px;
    background-color: white;
    margin: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea, select {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#commentsList {
    margin-top: 20px;
}

#commentsList ul {
    list-style: none;
    padding: 0;
}

#commentsList li {
    background-color: #f4f4f4;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
}

small {
    display: block;
    margin-top: 10px;
    color: #555;
}
